version: "3.8"

services:
  db:
    image: mysql:8
    container_name: task_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: task_manager
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: task_backend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: root123
      DB_NAME: task_manager
    working_dir: /usr/src/app
    volumes:
      - ./backend:/usr/src/app
    command: >
      sh -c "echo 'Waiting for MySQL to be ready...' && sleep 10 && node server.js"

  frontend:
    build: ./frontend
    container_name: task_frontend
    ports:
      - "8080:80"
    depends_on:
      - backend

volumes:
  db_data:
